body {
  font-family: "'Pacifico-black", cursive;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "montserrant-bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-style: "montserrant-bold";
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 20%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "montserrat-light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(24deg);
  right: 40%;
  position: absolute;
}

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background-color: white;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  padding-bottom: 2px;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 25px;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 90px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

@media(max-width: 992px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: white;
  padding: 7% 15%;
}

.cta-heading {
  font-family: 'montserrant', cursive;
  line-height: 1.5rem;
  font-size: 2rem;
  margin: 5% 6% 5% 0;
  padding-bottom: 50px;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}
